.Title{
    height: 200px;
    width: 400px;
    background: rgb(14, 185, 157);

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
  
}

div p{
    color: rgb(192, 42, 42);
    font-size: large;
    margin-left: 20px;
}

.Emergancy{
    color: rgb(172, 55, 55);
    font-size: x-large;
    margin-left: 150px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #111;
  }


  @media only screen and (max-width: 375px) {
    .Title{
      background: rgb(116, 126, 124);
    }
  
  
  }